@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(/themes/custom/citizen_dart/fonts/MaterialIconsOutlined.woff2) format('woff2'),
  url(/themes/custom/citizen_dart/fonts/MaterialIconsOutlined-Regular.otf) format('opentype');
}

#responsive-preview-toolbar-tab .responsive-preview-trigger.active {
  background: #018901;
}
#responsive-preview-toolbar-tab .responsive-preview-trigger.active:hover {
  background: #676767;
}

#responsive-preview-modal-background {
  background: rgba(92,96,98,.92);
}
#responsive-preview-frame-container {
  border-radius: 5px;
}
.responsive-preview-device-label-text {
  position: relative;
  top: -2px;
  color: #f6f6f6;
}
.responsive-preview-device-label-text:after {
  content: none !important;
}
.responsive-preview-device-label-text span {
  display: none;
}
.responsive-preview-control.responsive-preview-close {
  right: -5px;
}
#responsive-preview-orientation:before,
#responsive-preview-close:before {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  color: #ffffff;
}
#responsive-preview-orientation:before {
  height: 20px;
  width: 20px;
  background-image: none;
  content: "\ebee";
  font-family: "Material Icons Outlined";
  top: 6px;
}
#responsive-preview-close:before {
  height: 20px;
  width: 20px;
  background-image: none;
  content: "\e5cd";
  font-family: "Material Icons Outlined";
  top: 6px;
}

/* REMOVE DEFAULT DRUPAL PREVIEW BUTTON */
#edit-preview {
  display: none !important;
}

/* CUSTOM PREVIEW BUTTON ON NODE */
#edit-citizen-preview {
  background: #018901;
  color: #ffffff;
  min-width: 120px;
}
#edit-citizen-preview:hover,
#edit-citizen-preview:focus {
  background: #ccc;
  color: #121212;
}

/* Hide Drupal's preview button */
#edit-preview--2--gin-edit-form {
  display: none;
}
